VITE_FIREBASE_API_KEY="AIzaSyDPz_uYAJC70igAhTlC1k18JW1g9a_fpuw"
VITE_FIREBASE_AUTH_DOMAIN="mcatest-symphozen.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="mcatest-symphozen"
VITE_FIREBASE_STORAGE_BUCKET="mcatest-symphozen.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1058064229247"
VITE_FIREBASE_APP_ID="1:1058064229247:web:a53bdee730a2965fd5304a"